{% load static %}
<div class="header-bar">
	<img src="{% static 'kitcheninLogoNew.png' %}" class="header-bar-img" />
	<ul class='header-bar-menu'>
		<li class="nav-link">
			<a href="{% url 'home:index' %}">
			<img src="{% static 'homeInverted.png' %}" /><p>Home</p></a>
		</li>
		{% if user.is_authenticated %}
		<li class="nav-link">
			<a href="{% url 'profiles:detail' user.profile.id %}">
				<img src="{% static 'kitchenInverted.png' %}" /><p>Kitchens</p></a>
		</li>
		{% else %}
		<li class="nav-link">
			<a href="{% url 'home:login' %}">
				<img src="{% static 'loginInverted.png' %}" /><p>Login</p></a>
		</li>
		{% endif %}
		<li class="nav-link">
			<a href="{% url 'home:about' %}">
				<img src="{% static 'aboutInverted.png' %}" /><p>About Us</p></a>
		</li>
		{% if user.is_authenticated %}
		<li class="nav-link">
			<a href="{% url 'home:logout' %}">
				<img src="{% static 'logoutInverted.png' %}" /><p>Logout</p></a>
		</li>
		{% endif %}
	</ul>
</div>