{% load static %}
<div class="header-bar">
	<img src="{% static 'kitcheninLogo.png' %}" class="header-bar-img" />
	<ul class='header-bar-menu'>
		<li class="nav-link">
			<a href="{% url 'home:index' %}">
			<img src="{% static 'home6.1.png' %}" /><p>Home</p></a>
		</li>
		{% if user.is_authenticated %}
		<li class="nav-link">
			<a href="{% url 'profiles:detail' user.profile.id %}">
				<img src="{% static 'profile3.1.png' %}" /><p>Profile</p></a>
		</li>
		{% endif %}
		<li class="nav-link">
			<a href="{% url 'lists:index' %}">
				<img src="{% static 'kitchen5.1.png' %}" /><p>Kitchens</p></a>
		</li>
		{% if user.is_authenticated %}
		<li class="nav-link">
			<a href="{% url 'home:logout' %}">
				<img src="{% static 'logout2.1.png' %}" /><p>Logout</p></a>
		</li>
		{% endif %}
	</ul>
</div>