{% extends 'home/base.html' %}
{% load static %}

{% block title %}{{ kitchen.title }}{% endblock %}

{% block topblock %}
{% if kitchen %}
<div class='top-block-left'>
	{% if user in kitchen.members.all %}
		<a href="#" class='add-item' title="Add Item">
			<img src="{% static 'addItemGreen.png' %}" />
			<p>Item</p>
		</a>
		<a href="{% url 'lists:members' kitchen.id %}" class='member-page-link open-form-link' title="View Members">
			<img src="{% static 'viewUserGreen.png' %}" />
			<p>Members</p>
		</a>
	{% else %}
		<a href="{% url 'profiles:detail' user.profile.id %}" >
			<img src="{% static 'viewUserGreen.png' %}" />
			<p>Profile</p>
		</a>
	{% endif %}
</div>
<div class="top-block-right">
	<h1 class="kitchen-title">{{ kitchen.title }}</h1>
</div>
{% endif %}
{% endblock %}

{% block content %}

<p>{{ kitchen.description }}</p>

{% if kitchen %}

	{% if user in kitchen.members.all %}
		{% include "lists/member_detail.html" with kitchen=kitchen %}
	{% else %}
		{% include "lists/non_member_detail.html" with kitchen=kitchen %}
	{% endif %}


	{% if item_form %}
	<form action="{% url 'lists:add_item' kitchen.id %}" method="post" class='add-item-form display-none user-form'>
		<h4>New Item</h4>
		{% csrf_token %}
		{{ item_form.as_p }}
		<input type="submit" value="Add" class="hover-orange" />
		<a href="#" class="cancel-link">cancel</a>
	</form>
	{% endif %}

{% endif %}

{% endblock %}