{% extends 'home/base.html' %}
{% load static %}

{% block topblock %}
{% if kitchen %}
<div class="top-block-left">
	<a href="{% url 'lists:detail' kitchen.id %}" title="View Kitchen">
		<img src="{% static 'profile3.1.png' %}" />
		<p>Kitchen</p>
	</a>
	<a href="{% url 'lists:members' kitchen.id %}" title="View Members">
		<img src="{% static 'profile3.1.png' %}" />
		<p>Members</p>
	</a>
</div>
<div class="top-block-right">
	<h1>{{ kitchen.title }}</h1>
</div>
{% endif %}
{% endblock %}

{% block content %}
{% if kitchen %}
<div class="kitchen-members">
	<h3>User Search</h3>

	<form action="{% url 'lists:find_member' kitchen.id %}" method="post">
		{% csrf_token %}
		<label>search:</label>
		<input type="text" name="user-search" />
		<input type="submit" value="search" />
	</form>

	{% if results %}
		<h5>Users Found</h5>
		<ul>
			{% for user in results.all %}
				<li><a href="{% url 'profiles:detail' user.id %}">{{ user.username }}</a>
					{% if user in kitchen.members.all %}
						<span><p>Member</p></span>
					{% else %}
						<form action="{% url 'lists:add_member' kitchen.id %}" method="post">
							{% csrf_token %}
							<input type="hidden" value="{{user.username}}" name="username">
							<input type="submit" value="add!" />
						</form>
					{% endif %}
				</li>
			{% endfor %}
		</ul>
	{% else %}
		<h5>No Users Found</h5>
	{% endif %}

</div>
{% endif %}
{% endblock %}