{% extends 'home/base.html' %}
{% load static %}

{% block topblock %}
{% if kitchen %}
<div class="top-block-left">
	<a href="{% url 'lists:detail' kitchen.id %}" title="View Kitchen">
		<img src="{% static 'viewKitchenGreen.png' %}" />
		<p>Kitchen</p>
	</a>
	<a href="{% url 'lists:members' kitchen.id %}" title="View Members">
		<img src="{% static 'viewUserGreen.png' %}" />
		<p>Members</p>
	</a>
</div>
<div class="top-block-right">
	<h1><span>Add Members to </span>{{ kitchen.title }}</h1>
</div>
{% endif %}
{% endblock %}

{% block content %}
{% if kitchen %}
<div class="kitchen-members page">
	<h3>User Search</h3>

	<form action="{% url 'lists:find_member' kitchen.id %}" method="post" class="user-form">
		{% csrf_token %}
		<p>
			<label>search:</label>
			<input type="text" name="user-search" placeholder="Enter Username" />
		</p>
		<input type="submit" value="search" />
	</form>

	{% if results %}
		<h5>Users Found</h5>
		<ul class="blocklist">
			{% for user in results.all %}
				<li><a class="text" href="{% url 'profiles:detail' user.profile.id %}">{{ user.username }}</a>
					<div class="icon-links">
						{% if user == kitchen.creator %}
							<span class="icon-box"><img class="icon" src="{% static 'viewUserGreen.png' %}" title="Owner" /></span>
						{% elif user in kitchen.members.all %}
							<span class="icon-box"><img class="icon" src="{% static 'viewUserBlue.png' %}" title="Member" /></span>
						{% else %}
							<form class="icon-box click" action="{% url 'lists:add_member' kitchen.id %}" method="post">
								{% csrf_token %}
								<input type="hidden" value="{{user.username}}" name="username">
								<input type="image" class="icon" src="{% static 'addUserBlue.png' %}" alt="Add!" title="Add" />
							</form>
						{% endif %}
					</div>
				</li>
			{% endfor %}
		</ul>
	{% else %}
		<h5>No Results. Search Above.</h5>
	{% endif %}

</div>
{% endif %}
{% endblock %}