{% extends 'home/base.html' %}
{% load static %}

{% block topblock %}

<div class="top-block-left">
	<a href="#" class="open-kitchen-form open-form-link" title="Add Kitchen">
		<img src="{% static 'AddKitchen.png' %}" />
		<p>Kitchen</p>
	</a>
</div>
<div class="top-block-right">
	<h1>{{ user.username }}</h1>
</div>

{% endblock %}

{% block content %}
<div class="kitchen-members page">
<h3>Your Kitchens</h3>

<ul class="user-kitchen-list">
	{% if kitchens %}
	{% for kitchen in kitchens.all %}
		<li><a href="{% url 'lists:detail' kitchen.id %}">{{ kitchen.title }}</a>
		</li>
	{% endfor %}
	{% endif %}
</ul>
</div>

<form action="{% url 'lists:create' %}" method="post" class="new-kitchen-form display-none">
	{% csrf_token %}
	<div>
		<label>Name:</label>
		<input type="text" name="list-title" placeholder="Name" />
	</div>
	<div>
		<label>Description:</label>
		<textarea name="list-description" placeholder="Description"></textarea>
	</div>
	<input type="submit" value="create" />
	<a href="#" class="cancel-link">cancel</a>
</form>
{% endblock %}