{% load static %}
<li class="list-item status-{{status}}" id="list-item-{{item.id}}" title="{{item.name}}">
	{{ item.name }}
	<div class="list-forms">
	{% if item.status != 1 %}
	<form action="{% url 'items:move' item.id %}" method="post" title="list" class="need-form ">
		{% csrf_token %}
		<input class="move-item-icon" type="image" src="{% static 'listBlue.png' %}" value="1" alt="need" name="item-status" />
	</form>
	{% endif %}
	{% if item.status != 2 %}
	<form action="{% url 'items:move' item.id %}" method="post" title="pantry" class="pantry-form ">
		{% csrf_token %}
		<input class="move-item-icon" type="image" src="{% static 'pantryBlue.png' %}" value="2" alt="pantry" name="item-status" />
	</form>
	{% endif %}
	{% if item.status != 3 %}
	<form action="{% url 'items:move' item.id %}" method="post" title="fridge" class="fridge-form ">
		{% csrf_token %}
		<input class="move-item-icon" type="image" src="{% static 'fridgeBlue.png' %}" value="3" alt="fridge" name="item-status" />
	</form>
	{% endif %}
	<form action="{% url 'items:detail' item.id %}" method="get" title="edit" class="edit-form ">
		{% csrf_token %}
		<input class="edit-item-icon" type="image" src="{% static 'editBlue.png' %}" alt="edit" />
	</form>
	<form action="{% url 'items:move' item.id %}" method="post" title="remove" class="remove-form ">
		{% csrf_token %}
		<input class="move-item-icon" type="image" src="{% static 'deleteBlue.png' %}" value="4" alt="fridge" name="item-status" />
	</form>
	</div>
</li>