{% extends 'home/base.html' %}
{% load static %}

{% block topblock %}
{% if kitchen %}
<div class="top-block-left">
	<a href="{% url 'lists:detail' kitchen.id %}" title="View Kitchen">
		<img src="{% static 'viewKitchenGreen.png' %}" />
		<p>Kitchen</p>
	</a>
	<a href="{% url 'lists:find_member' kitchen.id %}" title="Add User">
		<img src="{% static 'findUserGreen.png' %}" />
		<p>Find</p>
	</a>
</div>
<div class="top-block-right">
	<h1>{{ kitchen.title }}</h1>
</div>
{% endif %}
{% endblock %}

{% block content %}
{% if kitchen %}
<div class="page kitchen-members">
<h3>Members</h3>

<h6>Owner: {{ kitchen.creator }}</h6>
<ul class="blocklist">
	{% for member in kitchen.members.all %}
		<li><a class="text" href="{% url 'profiles:detail' member.profile.id %}">{{ member.username }}</a>
			<div class="icon-links">
			{% if member == kitchen.creator %}
				<span class="icon-box"><img class="icon" src="{% static 'viewUserGreen.png' %}" title="Owner" /></span>
			{% else %}
				<form class="icon-box click" action="{% url 'lists:remove_member' kitchen.id %}" method="post" title="Remove" >
					{% csrf_token %}
					<input type="hidden" value="{{member.username}}" name="username">
					<input class="icon" type="image" src="{% static 'removeUserBlue.png' %}" alt="Remove" />
				</form>
			{% endif %}
			</div>
			{% if member == kitchen.creator %}
				<span class="owner-icon" title="Owner"><img class='icon' src="{% static 'viewUserGreen.png' %}" /></span>
			{% else %}
				<span class="owner-icon" title="Member"><img class='icon' src="{% static 'viewUserBlue.png' %}" /></span>
			{% endif %}
		</li>
	{% endfor %}
</ul>
</div>

{% endif %}
{% endblock %}